<h1>筋トレ</h1>
<h3>筋トレ詳細</h3>
<div class="kintres-show">
  <p><%= @training.training_content %></p>
  <p><%= @training.created_at %></p>
</div>

<%= link_to "筋トレ一覧に戻る", kintres_path %>
<%= link_to "編集する", edit_kintre_path(@training.id) %>